.contact-section {
    margin: 3rem auto;
    padding: 2rem;
    border: .1rem dashed #6e6e6e; /* Przerywana ramka */
    background-color: #fcfcfc;
    position: relative;
}
.contact-section-row{
    background-color: white;
    border: 1px dashed #6e6e6e;
}

.contact-section h3 {
    color: #2A3D45; /* Ciemny kolor nagłówka */
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 100%;
    margin: 0 auto;
}

.input-field {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-field textarea {
    width: 100%;
    padding: 1rem;
    border-radius: .2rem;
    font-size: 1rem;
    min-height: 150px; /* Minimalna wysokość */
    box-sizing: border-box; /* Zapewnienie, że padding nie będzie zwiększał rozmiaru pola */
}

.input-field label {
    font-weight: bold;
    color: #464747; /* Ciemny kolor etykiet */
    font-size: 1rem;
    padding: .3rem;
    transform: translateY(-0.8rem); /* Przesunięcie etykiety wyżej */
    background-color: white; /* Dodanie białego tła, aby etykieta była widoczna */
    padding-left: 0.2rem; /* Drobny odstęp dla lepszej czytelności */
    padding-right: 0.2rem;
    position: absolute; /* Ustawienie pozycji etykiety nad polem */
    top: -10px; /* Przesunięcie w górę */
    left: 1rem; /* Pozycja etykiety zgodna z paddingiem */
}


.input-field input,
.input-field textarea {
    width: 100%;
    padding: 1rem;
    border: 1px dashed #6e6e6e;
    border-radius: .2rem;
    font-size: 1rem;
}

.map-container{
        color: #6e6e6e;
        margin-top: 1rem;
        

}
.contact-details{
    padding: 1rem;
    
}
.contact-details h3{
    color: #6e6e6e;
}

/* Dodaj odstępy dla mniejszych ekranów */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column; /* Ustawienie elementów jeden pod drugim */
        align-items: center; /* Wyśrodkowanie elementów */
    }

    .contact-form, .contact-map {
        width: 100%; /* Ustawienie pełnej szerokości dla formularza i mapy */
    }

    .map-container {
        margin-top: 1.5rem; /* Odstęp między formularzem a mapą */
    }
}