.header-section {
    height: 50vh;
    background: url('../img/bg.png') no-repeat  center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-container {
    position: absolute;
    width: 100%;
    height: 50%; /* Pokrywa połowę sekcji */
    top: 0;
    left: 0;
    background-color: #6e6e6ee3; /* Kolor z przezroczystością */
    z-index: 1;
}

.welcome-box {
    position: relative; /* Dodaj pozycjonowanie, aby z-index działał */
    background-color: rgba(255, 255, 255, 0.911); /* Półprzezroczyste białe tło */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Wyższy z-index, aby prostokąt był na wierzchu */
    
}


.welcome-box h2 {
    color: #2A3D45;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1rem;
    align-self: center center;
}

.divider {
    margin: 20px 0; /* Marginesy nad i pod linią */
    height: 2px;
    background-color: black; /* Czarna linia */
}

.welcome-box p {
    color: #333333;
    font-size: 1.3rem;
    padding: 1rem;
}

.header-banner {
    position: relative;
    background-color: #ffffffc9; /* Główne tło */
    padding: 2rem 0;
    text-align: center;
    border-radius: .1rem;
    z-index: 1;
    color: rgb(39, 39, 39);
}

.header-banner h3 {
    color: #2A3D45;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    z-index: 2; /* Tekst nad obrazkiem */
}

/* Divider */
.header-banner-divider {

    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2; /* Divider nad obrazkiem */
}

/* Obrazek pod sekcją */
.header-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/divider-bg.jpg'); /* Ścieżka do obrazka */
    background-size: cover;
    background-position: center;
    opacity: 0.15; /* Możesz dostosować przezroczystość */
    z-index: 0; /* Obrazek pod tekstem i dividerem */
}