@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('nav.css');
@import url('header.css');
@import url('services.css');
@import url('products.css');
@import url('pricing.css');
@import url('contact.css');
@import url('footer.css');
@import url('typography.css');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #333;
}
.btn {
    background-color: #6e6e6e;
    color: white;
    font-size: 1.2rem; /* Większy tekst */
    border-radius: 8px; /* Zaokrąglenie przycisku */
    border: none;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
    min-width: 150px; /* Minimalna szerokość */
}

.btn:hover {
    background-color: #004d40; /* Kolor przy najechaniu */
    cursor: pointer;
}

.btn-block {
    width: 100%; /* Ustawienie szerokości na 100% kontenera */
    max-width: 300px; /* Ograniczenie szerokości przycisku */
    margin: 1.5rem auto; /* Wyśrodkowanie przycisku */
    display: block;
}


/* Stylizacja sekcji banera */
.section-banner {
    position: relative;
    background-color: #6e6e6e; /* Główne tło sekcji */
    padding: 2rem 0;
    text-align: center;
    z-index: 1;
    color: white;
}

/* Stylizacja tytułu i ikony */
.icon-title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Odstęp między ikoną a tekstem */
}

.section-icon {
    font-size: 24px; /* Rozmiar ikony */
    color: white; /* Kolor ikony */
}

/* Stylizacja tekstu sekcji */
.section-banner h3 {
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    z-index: 2; /* Tekst nad obrazkiem */
}

/* Divider pod tytułem */
.section-banner-divider {
    margin-top: 10px;
    width: 22rem;
    height: 2px;
    background-color: white; /* Biała linia pod napisem */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2; /* Divider nad obrazkiem */
}

/* Obrazek pod sekcją */
.section-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/divider-bg.jpg'); /* Ścieżka do obrazka */
    background-size: cover;
    background-position: center;
    opacity: 0.15; /* Możesz dostosować przezroczystość */
    z-index: 0; /* Obrazek pod tekstem i dividerem */
}


