/* Ogólne style dla sekcji produktów */
.products-section {
    padding: 4rem 0;
    background-color: #f9f9f9;
}

.products-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
}

/* Karty produktów */
.product-card {
    position: relative;
    border: 1px dashed #333;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Obrazki w kartach produktów */
.product-card .card-image {
    height: 55%;
    overflow: hidden; /* Ukrycie części obrazka wychodzącej poza kontener */
}

.product-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; /* Płynna animacja powiększenia */
}

/* Efekt powiększenia przy najechaniu */
.product-card .card-image:hover img {
    transform: scale(1.05); /* Powiększenie o 5% */
}

.product-card .card-content {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.product-card .card-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 0.6rem;
    color: #333;
}
