h1{ 
}
h2{

}
h3{
    font-size: 1.6rem;
    font-weight: 500;
}
h4{

}
h5{

}

p{
    font-size: 1.2rem !important;
}

/*Dividers*/

/*COLORS*/
.dark-color{color:white}
.dark-background-color{color:#6e6e6e}
.light-color{color:#6e6e6e}
.light-background-color{color:white}

